$color-black: #303030;
$color-grey: #eaeaea;

.navbar-inverse{
  border-radius: 0;
  border: none;
  transition-duration: .3s;
  &.__mutia{
    background: $color-black;
    .navbar-brand{
      padding: 20px 15px;
      font-size: 28px;
      font-weight: 900;
      span{
        font-size: 17px;
        display: block;
        margin-top: 5px;
        padding-top: 2px;
        border-top: 1px solid white;
        font-weight: normal;
      }
    }
    .navbar-toggle{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  ul{
    &.nav{
      li{
        a{
          text-transform: uppercase;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

.hero{
  width: 100%;
  min-height: 100vh;
  background-color: $color-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hero.jpg);
  position: relative;

  .intro{
    position: absolute;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    color: white;
    height: 400px;
    @media screen and (max-width: 625px) {
      left: 50%;
    }
    p{
      span{
        display: block;
        margin-bottom: 50px;
        line-height: 1;
        font-size: 70px;
        font-weight: 900;
      }
      position: absolute;
      bottom: 30px;
    }
  }
}
.container{
  margin-bottom: 100px;
}
.box{
  margin-top: 120px;
  border-top: 1px solid $color-black;
  padding-top: 10px;
  .title{
    margin-top: -40px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .table{
    td{
      border: none;
    }
  }
  .content{
    margin-top: 50px;
    position: relative;
    .title{
      text-transform: none;
      margin-bottom: 5px;
      line-height: 1;
    }
    .date{
      position: absolute;
      right: 0;
      top: 0;
      @media screen and (max-width: 625px) {
        top: 30px;
      }
    }
    .detail{
      margin-top: 70px;
    }
  }
}

ul.__mutia{
  // max-width: 460px;
  padding-left: 10px;
  list-style-type: none;
  li{
    margin: 10px 0;
  }
}

.to-top{
  top: -100px;
}
