.navbar-inverse {
  border-radius: 0;
  border: none;
  transition-duration: .3s; }
  .navbar-inverse.__mutia {
    background: #303030; }
    .navbar-inverse.__mutia .navbar-brand {
      padding: 20px 15px;
      font-size: 28px;
      font-weight: 900; }
      .navbar-inverse.__mutia .navbar-brand span {
        font-size: 17px;
        display: block;
        margin-top: 5px;
        padding-top: 2px;
        border-top: 1px solid white;
        font-weight: normal; }
    .navbar-inverse.__mutia .navbar-toggle {
      margin-top: 20px;
      margin-bottom: 20px; }
  .navbar-inverse ul.nav li a {
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px; }

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: #eaeaea;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/hero.jpg);
  position: relative; }
  .hero .intro {
    position: absolute;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 400px; }
    @media screen and (max-width: 625px) {
      .hero .intro {
        left: 50%; } }
    .hero .intro p {
      position: absolute;
      bottom: 30px; }
      .hero .intro p span {
        display: block;
        margin-bottom: 50px;
        line-height: 1;
        font-size: 70px;
        font-weight: 900; }

.container {
  margin-bottom: 100px; }

.box {
  margin-top: 120px;
  border-top: 1px solid #303030;
  padding-top: 10px; }
  .box .title {
    margin-top: -40px;
    font-weight: 800;
    text-transform: uppercase; }
  .box .table td {
    border: none; }
  .box .content {
    margin-top: 50px;
    position: relative; }
    .box .content .title {
      text-transform: none;
      margin-bottom: 5px;
      line-height: 1; }
    .box .content .date {
      position: absolute;
      right: 0;
      top: 0; }
      @media screen and (max-width: 625px) {
        .box .content .date {
          top: 30px; } }
    .box .content .detail {
      margin-top: 70px; }

ul.__mutia {
  padding-left: 10px;
  list-style-type: none; }
  ul.__mutia li {
    margin: 10px 0; }

.to-top {
  top: -100px; }

/*# sourceMappingURL=style.css.map */
